/* Colors */
$white: #ffffff;
$green: #77b900;
$dark: #030305;
$gray: #808080;

/* Fonts */
$roboto: "Roboto", sans-serif;
$roboto-bold: "Roboto Bold", sans-serif;
$play: "Play Regular", sans-serif;
$play-bold: "Play Bold", sans-serif;

/* Font sizes */
$headline-1-fs: 42px;
$headline-1-lh: (66 / 42);
$headline-2-fs: 33px;
$headline-2-lh: (53 / 33);
$headline-3-fs: 26px;
$headline-3-lh: (36 / 26);
$subtitle-fs: 20px;
$subtitle-lh: (34 / 20);
$body-fs: 16px;
$body-lh: (28 / 16);
$caption-fs: 13px;
$caption-lh: (24 / 13);

/* Transitions */
$default-tr: .2s ease;
