+b.buy-form.zoom-anim-dialog.mfp-hide#buy-popup.FORM(action="https://echo.htmlacademy.ru" method="post")
	+e.title.title._third.H2 Преимущества <br class="mobile">G-SYNC
	+e.label.LABEL
		+e.input.input__.INPUT(type="text" name="name" placeholder="Имя" autocomplete="off" required)
	+e.label.LABEL
		+e.input.input__.INPUT(type="email" name="email" placeholder="Mail" autocomplete="off" required)
	+e.submit.btn.BUTTON(type="submit") Купить
