.social {
	display: flex;
	align-items: center;
	justify-content: center;

	svg {
		width: 48px;
		height: 48px;

		color: $gray;

		transition: color $default-tr;
	}

	&:hover,
	&:focus {
		outline: none;

		svg {
			color: $green;
		}
	}
}
